@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    margin: 40px;
}

article{
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    background-color: tomato;
    padding: 20px 15px 10px 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 40px;
}
body{
    background-image: url('../imagens/mar.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.itens{
    margin: 20px;

    background-color: blue;
    width: 430px;
    height: 250px;
}
@media (max-width: 1010px) {
    #container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .itens{
        background-color: blue;
        width: 40%;
        height: 190px;
        
    }
@media (max-width:710px) {

    h1{
        text-align: center;
        font-size: 2em;
        margin: 20px;
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .itens{
        margin-top: 10px;
        background-color: blue;
        width: 75%;
        height: 200px;
        
    }
}
}