@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
}
article{
    padding: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

#quadro{
    background-color: tomato;
    padding: 20px 15px 10px 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.item{
    background-color: rgba(255, 255, 0, 0.452);
    margin: 10px;
    width: 45%;
    height: 30vh;
}
.item:hover{
    box-shadow: 2px 3px 10px rgb(71, 1, 50);
}
@media (max-width:700px){
    article{
        padding: 10px;
        max-width: 1000px;
        margin: auto;
    }
    #quadro{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    .item{
        margin: 10px;
        width: 45%;
        height: 190px;
    }
}

@media (max-width: 600px) {
    .item{
        margin: 5px;
        width: 60%;
        height: 150px;
    }
}