@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;

}
.menu{
    position: absolute;
    right: 1vw;
    top: 20px;
    font-size: 2em;
}
#outrostipos{
    margin-top: 20px;
    padding: 10px;

}
a{
    text-decoration: none;
}
#home{
    display: flex;
    border-radius: 20px;
    height: 50px;
    background-color: rgb(1, 155, 1);
    width: 300px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#home:hover{
    transition-duration: 1.2s;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.438);
}
a>p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
p.abasmus:hover{
    transition-duration: 1s;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}
#menudogenero{
    cursor: pointer;
    
}
.sair{
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 6px;
}
#outrostipos{
    display: none;
    position:fixed;
    right: 0vw;
    top: -26px;
    background-color: rgb(104, 103, 103);
    width: 300px;
    height: 98.6%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#musica{
    display: flex;
    width: 100%;

}
.abasmus {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin: 10px;
    background-color: black;
    border-radius: 8px;
    
}

#phonk{
    background-image: url('../imagens/paisagem-de-wireframe-abstrata-c.png');
    background-position: center center;
}
#aleatorias{
    background-image: url('../imagens/mar.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    padding: 40px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    text-align: center;
    font-size: 1.6em;
}
article{

    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

#quadro{
    background-color: tomato;
    padding: 20px 15px 10px 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    background-color: rgba(255, 255, 0, 0.452);
    margin: 10px;
    width: 45%;
    height: 30vh;
}
.item:hover{
    box-shadow: 2px 3px 10px rgb(71, 1, 50);
}
@media (max-width:700px){
    article{
        padding:0px 5px;
        max-width: 1000px;
        margin: auto;
    }
    #quadro{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    .item{
        margin: 10px;
        width: 45%;
        height: 190px;
    }
}

@media (max-width: 600px) {
    .item{
        margin: 5px;
        width: 60%;
        height: 150px;
    }
}